.card{
  width:100% ;
  max-width: 500px;
  background-color:turquoise;
  border-radius: 20px;
  margin: 100px auto 0;
  text-align: center;
  color: #fff;
  padding: 40px 35px;
}
.search{
 
  padding: 10px;
  display: flex;
  justify-content: space-between;

}
.dee{
  width: 40px;
  height: 30px;
  
}
.search input{
  border: 0;
  outline: 0;
  background-color: antiquewhite;
  color: #555;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
  height: 40px;
  padding: 10px 25px;
  border-radius: 30px;

}
.search button{
  border-radius: 30px;
}
.weatherapp{
  width: 170px;
  margin-top: 10px;
}
.weather h1{
  font-size: 80px;
  font-weight: 500px;
}
.weather h2{
  font-size: 30px;
  font-weight: 400px;
}
.detail{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  margin-top: 30px;
}
.col{
  display: flex;
  align-items: center;
  text-align: left;
}
.col img{
  width: 70px;
  margin-right: 10px;
}
.humidity,.wind{
  font-size: 30px;
  margin-top: -6px;
}
